extends ../shared/template
block content
  .panel.panel-default
    .panel-body
      h4 Shopping Cart
      form(method='post', action='/cart')
        input(type='hidden', name='_method', value='delete')
        button.btn.btn-warning(type='submit') Empty Cart

      form(action='/charge', method='post')
        script.stripe-button(src='https://checkout.stripe.com/checkout.js', data-key=key, data-image='/img/marketplace.png', data-name='Amazon', data-amount=Math.round(total * 100))

      table.table.table-hover
        thead
          tr
            th Name
            th Photo
            th Price
            th Quantity
            th Totals
        tbody
          each id in ids
            tr
              td= products[id].p.name
              td
                .product-photo(style='background-image: url(#{products[id].p.photo})')
              td $#{products[id].p.price.toFixed(2)}
              td= products[id].c
              td= '$' + (products[id].p.price * products[id].c).toFixed(2)
        tr
          td
          td
          td
          td SubTotal
          td= '$' + subtotal.toFixed(2)
        tr
          td
          td
          td
          td Tax(7.5%)
          td= '$' + tax.toFixed(2)
        tr
          td
          td
          td
          td Grand Total
          td= '$' + total.toFixed(2)

block scripts
  script(src='/js/user/home.js')
